<div class="card" id="<%= dom_id user %>">
  <div class="card-content">
    <p class="card-header-title">
      <%= user %>
    </p>
    <div class="field">
      <label class="label"><%= User.human_attribute_name(:name) %></label><%= user.name %>
    </div>
    <div class="field">
      <label class="label"><%= User.human_attribute_name(:role) %></label><%= user.translated_role %>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <%= link_to t(".edit"), edit_user_path(user), class: "button is-primary is-small" %>
    </div>
    <div class="card-footer-item">
      <%= button_to t(".delete"), user_path(user), method: :delete, data: { "turbo-method": :delete }, class: "button is-danger is-small" %>
    </div>
  </footer>
</div>

