<%= render Shared::Header::Component.new do |c| %>
  <% c.title do %>
    <%= t('.title') %>
  <% end %>
<% end %>
<%= render Shared::MainContent::Component.new do %>
  <div class="flex flex-row gap-4">
    <div class="basis-1/3">
      <%= render Shared::NewButton::Component.new(ContentRecipe) %>
    </div>
    <div class="basis-1/3">
      <%= render Shared::NewButton::Component.new(ContentSoapRecipe) %>
    </div>
    <div class="basis-1/3">
      <%= render Shared::NewButton::Component.new(ContentTutorial) %>
    </div>
    <div class="basis-1/3">
      <%= render Shared::NewButton::Component.new(ContentArticle) %>
    </div>
  </div>
  <div class="min-w-full">
    <div class="grid grid-cols-1 md:grid-cols-4 lg::grid-cols-6 gap-4">
      <%= render Contents::ContentCard::Component.with_collection(objects) %>
    </div>
  </div>
<% end %>
