<div class="hero is-fullheight">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div class="columns is-flex is-flex-direction-column box">

      <div class="column">
        <h1 class="title"><%= t('.sign_in') %></h1>
      </div>

      <div class="column">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: 'label' %>
            <div class="control">
              <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.label :remember_me, class: 'checkbox' do %>
                <div class="control">
                  <%= f.check_box :remember_me %>
                  <%= resource.class.human_attribute_name(:remember_me) %>
              <% end %>
              </div>
            </div>
          <% end %>

          <div class="field">
            <div class="control">
              <%= f.submit t('.sign_in'), class: 'button is-primary is-fullwidth' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="column">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
