<!DOCTYPE html>
<html data-theme="fantasy">
  <head>
    <title>HysperialBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
  <div class="min-h-full">
    <%= render Shared::NavigationMenu::Component.new %>
    <%= yield %>
    <%= turbo_frame_tag :flash do %>
      <%= render Shared::Flash::Component.new %>
    <% end %>
  </div>
  <!-- Make sure all modals are rendered in this frame -->
  <%= turbo_frame_tag :modal %>
  </body>
</html>
