<!DOCTYPE html>
<html>
<head>
  <title>HysperialBook</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<section class="mb-4">
  <%= render 'layouts/shared/navbar-menu' %>
</section>
<section class="mb-4">
  <div class="container">
    <%= render 'layouts/shared/flash' %>
  </div>
</section>
<section class="mb-4">
  <div class="container">
    <%= render 'layouts/shared/breadcrumb' %></div>
</section>
<section class="mb-4">
  <div class="container">
    <%= yield %></div>
</section>
</div>
</body>
</html>
